# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/
coverage/

# Env & secrets
.env
.env.*
!.env.example

# Newman / test output
newman/output/
*.report.html
*.report.json

# Pact
pacts/
pact/logs/
pact/pacts/

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
